/* Colors from a generated scheme by https://www.khroma.co/generator */
:root {
      --main-color: #0D5793;
      --accent-color: #D4E2E1;
      --almost-white: rgb(248, 252, 255);
}

/* This will cause the links to other sections on the page scroll smoothly instead of jump. Found this snippet in forum at https://stackoverflow.com/questions/25020582/scrolling-to-an-anchor-using-transition-css3 */
*{
      scroll-behavior: smooth;
      /* All transitions when page is resized will look smoother */
      transition: all 250ms linear;
}
/* Sets 1rem to 10px to more easily calculate using rem */
html {
      font-size: 62.5%;
}

/* Default text family sans-serif and brings default font size up to 17.5px */
body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      background-color: var(--almost-white);
      color: var(--main-color);
      line-height: 1.5;
      max-width: 100%;
}

h1 {
      font-size: 4rem;
      margin-block-start: 0;
}

main {
      padding-left: 1rem;
}

p {
      margin-bottom: 2rem;
}

/* ---------------------------HEADER---------------------------------- */
/* Make header a flexbox with items at left and right edges */
header {
      min-height: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.5rem;
      background-color: var(--main-color);
      color: var(--accent-color);
}
header h1,
header nav {
      flex: 1;
}

/* ---------------------------NAV BAR---------------------------------- */
/* Make nav-list a flexbox */
.nav-list {
      display: flex;
      flex-flow: row wrap;
      list-style-type: none;
      padding-bottom: 1rem;
}
/* Align nav links to the right side and have one item per row on small screens */
.nav-list li {
      text-align: right;
      flex: 0 0 100%;
      margin: 1rem 0;
      
}
/* Give nav links an offset lower border instead of underline and a small border radius for a rounded edge */
.nav-list a {
      color: var(--accent-color);
      display: inline-block;
      text-decoration: none;
      padding: .4rem;
      border-radius: .25rem;
      border-bottom: .2rem solid var(--accent-color);
}
/* Changes behavior of links when hovered over */
.nav-list a:hover {
      /* Makes link look like a button when hovered with a transition. Swaps text and background colors */
      background-color: var(--accent-color);
      color: var(--main-color);
      font-weight: bold;
      border-radius: 1rem;
      transition: all .25s ease-in-out;
}

/* ---------------------------SUB HEADER--------------------------------- */
/* Styles div between header and body */
.sub-header {
      /* Make this a flexbox with picture on left and subtitle on right */
      display: flex;
      justify-content: space-between;
      height: 20rem;
      background-image: linear-gradient(
            var(--accent-color) 0%,
            var(--main-color) 100%
          );
}
/* Fill height of subheader with photo */
.sub-header img {
      height: inherit;
}
/* Style the subtitle */
.sub-header h2 {
      align-self: flex-end;
      margin: 2rem;
      background-color: var(--almost-white);
      padding: 1rem;
      border-radius: 0 1.5rem;
      text-align: center;
}

/* ---------------------------GENERIC SECTIONS-------------------------------- */
/* Make each section a flexbox */
.section {
      margin-bottom: 3rem;
      display: flex;
      flex-wrap: wrap;
}
/* On small screens, headings will be above content */
.section-heading {
      margin: 2rem auto;
      flex: 0 0 100%;
      font-size: 4rem;
      border-bottom: 2px solid var(--main-color);
}
.section-content {
      flex: 0 0 100%;
}

/* ---------------------------WORK SECTION---------------------------------- */
/* Style the app screenshot/link section as a flexbox */
.app-images {
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem 2rem;
}
/* The first screenshot will be twice the size as the others */
.app:first-child {
      flex: 1 1 100%;
      max-width: 100%
}
/* Remaining screenshots will be in two columns */
.app {
      flex: 1 1 40%;
      max-width: 50%;
      padding: .3rem;
      border: .4rem solid var(--main-color);
      /* Relative position for ::after tab to be added */
      position: relative;
}
/* Puts blue filter over app pictures that are not hovered over */
.app a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(15, 145, 221, 0.3);
    }
/* Removes filter on hover */
.app:hover a::before {
      display: none;
    }
/* Styles tab at top left of each image */
.app a::after {
      position: absolute;
      /* top left border of tab will coincide with top left border of image box */
      left: -0.4rem;
      top: -0.4rem;
      padding: .5rem;
      background-color: var(--accent-color);
      color: var(--main-color);
      border: .3rem solid var(--main-color);
}
/* Adds content to image tabs with brief description. Can be pseudo-element because alt image text contains same description. */
#challenge-01::after {
      content: "Bootcamp Challenge 01";
}
#css-snippets::after {
      content: "CSS Snippets Page";
}
#landing-page::after {
      content: "Landing Page Project";
}
#placeholder-1::after {
      content: "Placeholder 1";
}
#placeholder-2::after {
      content: "Placeholder 2";
}
/* Allows images to flex size up to original size. Made all images same aspect ratio and size. */
.app img {
      max-width: 100%;
}

/* ----------------------------RESUME SECTION--------------------------------- */
/* Style resume section */
#resume p {
      padding-top: 2rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
}
/* Add hammer emoji before and after resume statement */
#resume p::before {
      content: "\01F528  ";
}
#resume p::after {
      content: "  \01F528";
}

/* ---------------------------CONTACT INFO SECTION-------------------------------- */
/* Style contact info list and make the list a flexbox */
.contact-info {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-inline-start: 0;
}
/* On small screens, contact info list will be a column */
.contact-info li {
      flex: 0 0 100%;
      margin: 1rem;
}
/* Style contact links */
.contact-info a {
      color: var(--main-color);
      font-weight: bold;
      text-decoration: none;
      padding: .5rem;
      margin: .5rem;
      border-radius: .25rem;
      border-bottom: 2px solid var(--main-color);
}

/* ---------------------------FOOTER-------------------------------- */
footer {
      font-size: 1.5rem;
      text-align: center;
      padding: 2rem 1rem;
      background-color: var(--main-color);
      color: var(--accent-color);
}

/* ---------------------------MEDIA QUERIES-------------------------------- */
/* ------Media query for medium screens-------- */
@media (min-width: 768px) {  
      /* Flex to horizontal list */
      .nav-list li {
            flex: auto;       
      }

      .section {
            gap: 2rem;
      }
      /* Flex to two section columns, heading taking up 1/4 of the space and content 3/4. */
      .section-heading {
            flex: 1;
            /* Move border on heading from bottom to right as transitions from one column to two */
            border-right: 2px solid var(--main-color);
            border-bottom: none;
            text-align: right;
            padding-right: 1.5rem;
      }
      .section-content {
            flex: 3;
            padding: 2rem;
            align-self: center; 
      }

      /* Flex to horizontal list */
      .contact-info li {
            flex: auto;
      }
}
/* ---------Media query for large screens--------- */
@media (min-width: 992px) {
      /* Set max width on page for very wide screens, centers page in viewport if it is larger than 1600px, make font slightly larger on bigger screens. */
      body {
            font-size: 2rem;
            max-width: 1600px;
            margin: 0 auto;
      }
}

/* Removes blue filter over app screenshots on touch screens - found at https://www.smashingmagazine.com/2022/03/guide-hover-pointer-media-queries/*/
@media (pointer: coarse) {
      .app a::before {
            display: none;
          }
}
